@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Bienvenue sur votre plateforme MIAGE</h1>
    <p class="lead">Ce site est créé afin de simplifier le suivi des différentes activités concernant l'enseignement en MIAGE</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Les dernières modifications</h2>
        <p>
            Ici seront renseignées les dernières modifications effectuées par un de vos apprenant
        </p>
        <p><a class="btn btn-default" href="#">Voir</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vos affectations</h2>
        <p>Ici seront affichées vos affectations concernant les modules, les apprenants ainsi que les tuteurs</p>
        <p><a class="btn btn-default" href="#">Voir</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informations</h2>
        <p>Vous êtes responsable pédagogique et professeur à l'universite Evry Val d'Essonne</p>
        <p><a class="btn btn-default" href="#">Voir</a></p>
    </div>
</div>