@model  List<ElearningM1.Models.Module>
@{
    if (Session["typeUtilisateur"] == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["typeUtilisateur"] == "TE")
    {
        Layout = "~/Views/Shared/_LayoutTE.cshtml";
    }
    else if (Session["typeUtilisateur"] == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les modules</h3>
        @*@Html.ActionLink("+ Ajouter", "InsererModule", "RP", new { @class = "btn btn-default" })*@
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Coefficient</th>
                <th>Type de module</th>
            </tr>
        </thead>
        @{

            foreach (ElearningM1.Models.Module module in  Model)
            {
                <tr>
                    <td>@module.Nom</td>
                    <td>@module.Coef</td>
                    <td>@module.TypeModule</td>
                </tr>
            }
        }
       
        @*{
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouveau module @Html.ActionLink("Cliquer ici", "InsererModule", "RP")</td></tr>
        }*@
    </table>
</body>