
@{
    ViewBag.Title = "ListeModules";
}

<h2>Les modules</h2>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Coefficient</th>
            <th>Enseignant</th>
        </tr>
        @foreach (ElearningM1.Models.Module module in ViewData["Modules"] as List<ElearningM1.Models.Module>)
        {
            <tr>
                <td>@Html.ActionLink(module.Nom, "ChercheModule", "RP", new { nom = module.Nom }, null)</td>
                <td>@module.Coeff</td>
            </tr>
        }
    </table>
</body>
