
@{
    ViewBag.Title = "Index";
    if (Session["typeUtilisateur"].ToString() == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if(Session["typeUtilisateur"].ToString() == "TE")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (Session["typeUtilisateur"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <h2>Bienvenue RP</h2>
</body>
